.App {
  text-align: center;
}

.card-back {
  background-image: "src/cardback.jpg";
  background: #777;
}

.game-deck {
  height: 150px;
}
.game-deck .card-back {
  background-image: url("Assets/Images/cardback.jpg");
  background-size: contain;
  background-position-x: 4vw;
  background-repeat: no-repeat;
  height: inherit;
}
